body {
  background-color: rgb(24, 23, 23);
  /*border: 1px solid red; THIS CHECKS WHERE THE SECTIONS ARE*/
  margin: 0px;
  height: 100vh; /*This makes the background take up the whole window*/
  color: antiquewhite; /*remove later*/
}

.header {
}
.title__header {
}

.info {
}

.info_title {
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}
.card-item {
  border: 1px solid green;
}

.title__footer {
}
