body {
  background-color: rgb(24, 23, 23);
  /*border: 1px solid red; THIS CHECKS WHERE THE SECTIONS ARE*/
  margin: 0px;
  height: 100vh; /*This makes the background take up the whole window*/
  color: pink;
  line-height: 20px;
}

.header {
  text-align: center
}
.title__header {
  color: pink
}

.info {
  padding: 10px;
  color:rgb(245, 110, 245);
}

.info_title {
  color:rgb(245, 110, 245)
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}
.card-item {
  border: 2px dashed white;
  text-align: justify;
  position: relative;*/
  margin: 20px
  width: 300px
}

.card-item h2 {
  position: absolute;
  border: 3px solid white;
  border-radius: 5px;
  margin: 0px;
  color: rgb(146, 17, 38);
  text-align: center;
  padding: 5px 10px;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background: rgb(24, 23, 23);
}

.code-snippet {
  border: 1px solid pink;
  border-radius: 10px;
  background-color:rgb(245, 110, 245);
  padding-top: 20px
}

.info__card {
  color: rgb(245, 110, 245);
  padding: 40px;
}

.title__footer {
  text-align: center;
}

@media screen and (max-width: 992px) {
  .card-item {width: 50%;}
}

@media screen and (max-width: 768px) {
  .card-item {width: 100%;}
}