body {
  background-color: rgb(24, 23, 23);
  /*border: 1px solid red; THIS CHECKS WHERE THE SECTIONS ARE*/
  margin: 0px;
  height: 100vh; /*This makes the background take up the whole window*/
  color: antiquewhite; /*remove later*/
  line-height: 20px;
}

.header {
}
.title__header {
}

.info {
}

.info_title {
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}
.card-item {
  border: 2px dashed white;
  text-align: justify;
  position: relative;
}

.card-item h2 {
  position: absolute;
  border: 3px solid white;
  border-radius: 5px;
  margin: 0px;
  color: pink;
  padding: 5px 10px;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background: rgb(24, 23, 23);
}

.code-container {
  border-radius: 10px;
  border: mediumvioletred;
  color: pink;
  padding: 20px;
}

.info__card {
  color: rgb(245, 110, 245);
  padding: 40px;
}

.title__footer {
}
